<h1>Login</h1>
<button class="bg-green-400 text-black p-2" (click)="login()">Login (fake)</button>
<p class="border p-2 mt-2 shadow-black shadow-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ab laudantium inventore deleniti sequi, ratione laboriosam asperiores unde, neque porro voluptatum quaerat illo minus sed eaque! Quis non aliquam blanditiis.
  In excepturi vel voluptates a rem debitis, labore molestias. Necessitatibus unde quo ratione aut officia esse consequuntur porro adipisci exercitationem dolore. Minima, perferendis necessitatibus animi provident deserunt aliquam atque illo?</p>
