<aside class="w-64 bg-white border-r border-gray-200 min-h-full flex flex-col">

  <div class="p-3 border-b border-gray-200">
    <a [routerLink]='["/dashboard"]' class="text-lg font-bold">
      Digital Bank <span class="text-green-400 text-xl">.</span>
    </a>
  </div>

  <nav class="flex-1 mt-4 text-sm">
    <ul>
      <li>
        <a [routerLink]='["/dashboard"]' class="block p-2 hover:bg-gray-100 border-b border-gray-200">
          Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]='["/operations"]' class="block p-2 hover:bg-gray-100 border-b border-gray-200">
          Operations
        </a>
      </li>
      <li>
        <a [routerLink]='["/transactions"]' class="block p-2 hover:bg-gray-100 border-b border-gray-200">
          Transactions
        </a>
      </li>
    </ul>
  </nav>

  <div class="border-t border-gray-200 text-sm">
    <ul>
      <li>
        <a [routerLink]='["/account"]' class="block p-2 rounded hover:bg-gray-100 border-b border-gray-200">
          Account
        </a>
      </li>
      <li>
        <button (click)="logout()" class="block p-2 w-full text-left rounded hover:bg-gray-100 hover:cursor-pointer">
          Logout
        </button>
      </li>
    </ul>
  </div>

</aside>
