<div>

  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold mb-6">Operations</h2>
    <a
      [routerLink]='["/operations/new"]'
      class="bg-black text-white px-4 py-2 rounded text-sm"
    >
      New Operation
    </a>
  </div>

  @if (loading()) {
    <div class="text-gray-500 text-sm">
      Loading operations...
    </div>
  }

  @if (error()) {
    <div class="text-red-600 text-sm">
      {{ error() }}
    </div>
  }

  @if (!loading() && !error() && operations().length === 0) {
    <div
      class="text-gray-500 text-sm bg-gray-50 rounded-lg"
    >
      No operations exist for now.
    </div>
  }

  @if (operations().length > 0) {
    <div
      class="overflow-x-auto"
    >
      <table class="w-full text-xs ">

        <thead class="text-gray-500">
        <tr class="border-b border-gray-200">
          <th class="text-left py-3 pl-2">Type</th>
          <th class="text-left py-3">Amount</th>
          <th class="text-left py-3">Status</th>
          <th class="text-left py-3">Source Account</th>
          <th class="text-left py-3">Created At</th>
        </tr>
        </thead>

        <tbody class="">

          @for (op of operations(); track op.createdAt) {
            <tr
              class="cursor-pointer transition border-b border-gray-200"
              [ngClass]="{
                'bg-yellow-50 hover:bg-yellow-100': op.status === 'PENDING'
              }"
              (click)="onOperationClick(op)"
            >
              <!-- Type -->
              <td class="py-4 font-medium pl-2">
                {{ op.type }}
              </td>

              <!-- Amount -->
              <td
                class="font-medium text-sm"
                [ngClass]="{
              'text-green-600': op.type === 'DEPOSIT',
              'text-red-600': op.type !== 'DEPOSIT'
            }"
              >
                {{ op.type == 'DEPOSIT' ? "+" + op.amount : -op.amount | number:'1.2-2' }} MAD
              </td>

              <!-- Status -->
              <td class="py-4 text-xs font-medium text-gray-500">
                {{ op.status }}
                <br>
                @if (op.status == "PENDING") {
                  <span class="text-yellow-700">Need additional file to approved</span>
                } @else {
                  <span class="text-gray-400">Operation made</span>
                }
              </td>

              <!-- Source Account -->
              <td class="py-4 text-gray-600 font-bold">
                {{ op.accountSourceNumber }}
              </td>

              <!-- Created -->
              <td class="py-4 text-gray-500">
                {{ op.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}
              </td>

            </tr>
          }

        </tbody>

      </table>
    </div>
  }
</div>

@if (showModal()) {

  <!-- Overlay -->
  <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">

    <!-- Modal -->
    <div class="bg-white rounded-lg w-full max-w-md p-6">

      <h3 class="text-lg font-semibold mb-2">
        Validate Operation
      </h3>

      <p class="text-sm text-gray-500 mb-4">
        Operation ID: {{ selectedOperation()?.id }}
      </p>

      <!-- File upload -->
      <div class="mb-4">
        <label class="block text-xs text-gray-500 mb-1">
          Upload required document
        </label>
        <input
          type="file"
          class="w-full text-sm border rounded p-2"
          (change)="onFileSelected($event)"
        />
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-2">
        <button
          class="px-4 py-2 text-sm border rounded"
          (click)="closeModal()"
        >
          Cancel
        </button>

        <button
          class="px-4 py-2 text-sm bg-black text-white rounded"
          [disabled]="!selectedFile()"
          (click)="submitFile()"
        >
          Submit
        </button>
      </div>

    </div>
  </div>
}
